$vw-viewport: 1920;
@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return calc($font / $vw-context) * 1vw;
  @return $font;
}

.container {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 79.4vw;
  height: 100vh;
  background-color: #ffffff;
  padding: get-vw(57px) 0px 0px get-vw(5px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.topone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: get-vw(27px);
  padding-right: get-vw(65px);
}
.profilepic {
  width: get-vw(51px);
  height: get-vw(51px);
  background-color: gray;
  border-radius: 100%;
}
.icons {
  width: get-vw(28.9px);
  height: get-vw(33.1px);
  background-color: #000;
  margin-right: get-vw(27px);
}
.toptwo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: get-vw(65px);
}
.welcome {
  width: get-vw(86px);
  height: get-vw(24px);
  font-size: get-vw(20px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 2px;
}
.name {
  font-size: get-vw(41px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 3px;
}
.moto {
  font-size: get-vw(20px);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.profiles {
  font-size: get-vw(15px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: get-vw(80px);
}
.profilepic {
  border-radius: 50%;
  width: get-vw(75px);
  height: get-vw(75px);
  background-color: #000;
  margin-right: get-vw(18px);
}
.textx {
  display: flex;
  flex-direction: column;
}
.textx text:first-child {
  font-size: get-vw(33px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.textx text {
  font-size: get-vw(22px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #a8a6a6;
}

.firstrow {
  width: 80vw;
  height: fit-content;
  border-radius: 44px;
  //   background-color: #eee;
  padding: get-vw(0px);
  position: relative;
}
.beginings {
  margin-top: get-vw(75px);
  width: 100%;
  display: flex;
  flex-direction: row;
  color: gray;
  font-weight: 500;
}
.one {
  width: 30%;
  font-size: get-vw(26px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.begining {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #000;
  font-weight: bold;
  margin-top: get-vw(34px);
}
.five {
  width: 30%;
  font-size: get-vw(21px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #eceded;
  padding-bottom: get-vw(34px);
}
.sideimg {
  // border-radius: 30%;
  width: get-vw(20.7px);
  height: get-vw(17.9px);
  /* background-color: #000; */
  margin-right: get-vw(7.5px);
}
.ad {
  width: get-vw(10.4px);
  height: get-vw(6px);
  margin-left: get-vw(7px);
}

.btns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: get-vw(150px);
  margin-bottom: get-vw(100px);
}
.btn1 {
  width: get-vw(199px);
  height: get-vw(65px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(15px);
  background-color: #b4a0ff;
  margin-right: get-vw(20px);
  font-size: get-vw(17px);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.btn2 {
  width: get-vw(199px);
  height: get-vw(65px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: get-vw(15px);
  background-color: #ff8181;
  margin-right: get-vw(-20px);
  font-size: get-vw(17px);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.details {
  width: 70vw;
  height: auto;
  padding: get-vw(47px);
  border-radius: get-vw(41px);
  background-color: #f5f4fa;
  position: relative;
}
.beginingx {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #1795f9;
  font-weight: 500;
}
.onex {
  width: 25%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.twox {
  width: 20%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.threex {
  width: 40%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fourx {
  width: 25%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.beginingx1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #1795f9;
  font-weight: 500;
  //   background-color: #ff8181;
  margin-top: get-vw(25px);
  border-bottom: solid 1px #b4a0ff;
  padding-bottom: get-vw(29px);
  padding-top: get-vw(29px);
}
.ones {
  width: 23%;
  font-size: get-vw(25px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.two {
  width: 18%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.third {
  width: 36.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.third div {
  margin-right: get-vw(30px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: get-vw(17px);
}
.four {
  width: 20%;
  font-size: get-vw(17px);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.more {
  width: get-vw(16px);
  height: get-vw(22px);
  margin-left: get-vw(85px);
  cursor: pointer;
}
.dropdown {
  width: get-vw(270px);
  height: fit-content;
  margin: 0 0 0 0px;
  border-radius: get-vw(15px);
  box-shadow: 0 2px 6px 0 rgba(116, 116, 116, 0.16);
  background-color: #b4a0ff;
  position: absolute;
  margin-top: get-vw(370px);
  margin-left: get-vw(-10px);
  opacity: 1;
  z-index: 99;
}
.dpitem {
  height: get-vw(60px);
  border-bottom: solid white 1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 get-vw(27px);
  cursor: pointer;
}
.dpitem text {
  font-size: get-vw(15px);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.arrowUp {
  width: 0;
  height: 0;
  border-left: get-vw(5px) solid transparent;
  border-right: get-vw(5px) solid transparent;
  transform: scale(3.5);
  border-bottom: get-vw(5px) solid #f5f4fa;
  transition: 0.2s;
}
.pos0 {
  position: absolute;
  top: get-vw(-13px);
  left: get-vw(80px);
  transition: 0.2s;
}
.pos1 {
  position: absolute;
  top: get-vw(-13px);
  left: get-vw(410px);
  transition: 0.2s;
}
.pos2 {
  position: absolute;
  top: get-vw(-13px);
  left: get-vw(800px);
  transition: 0.2s;
}
.pos3 {
  position: absolute;
  top: get-vw(-13px);
  left: get-vw(1180px);
  transition: 0.2s;
}
.back {
  width: get-vw(40px);
  height: get-vw(40px);
  position: absolute;
  margin-top: 0px;
  cursor: pointer;
}
.back img {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 0px;
  cursor: pointer;
}
